configuration {
	modi: "window,drun,ssh,combi";
	combi-modi: "window,drun,ssh";
	font: "mono 17";
	parse-known-hosts: false;
	yoffset: -200;
	fixed-num-lines: false;
	show-icons: true;
	sidebar-mode: true;
	eh: 1;
	window-thumbnail: false;
  timeout {
      action: "kb-cancel";
      delay:  15;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
@theme "Monokai"